.heroboxContainer {
    display: flex;
    margin-bottom: 8rem;
    justify-content: space-between;
    max-width: 1320.6px;
}

.rightBox {
    max-width: 660.3px;
    width: 100%;
}

.leftBox {
    max-width: 660.3px;
    width: 100%;
    padding: 2rem;
    background-color: var(--primary-color);
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
}

.leftBox h1 {
    margin: 2rem 0;
    font-size: 4rem;
    font-weight: var(--t2-font-weight);
}

.leftBox p {
    line-height: 1.75rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}


.rightBox img {
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    height: 100%;
    width: 100%;
}

.recipeBtnContainer {
    display: flex;
    margin-bottom: 5rem;
}

.recipeBtnContainer button {
    margin-right: 2rem;
}

.authorRecipeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.badgeIconContainer {
    position: absolute;
    margin-left: 38rem;
    margin-top: 4rem;
}

.badgeIcon {
    width: 8.375rem;
    height: 8.375rem;
}


/* @media only screen and (max-width: 1500px) {
    .badgeIconContainer {
        margin-left: 37rem;
    }
}

@media only screen and (max-width: 1240px) {
    .badgeIconContainer {
        margin-left: 39rem;
    }

    .recipeBtnContainer {
        width: 21rem;
    }
} */

@media only screen and (max-width: 900px) {
    .badgeIcon {
        display: none;
    }

    .leftBox h1 {
        font-size: 3rem;
    }

    .recipeBtnContainer {
        margin-bottom: 3rem;
    }  
}

@media only screen and (max-width: 780px) {
    .recipeBtnContainer{
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .leftBox h1 {
        font-size: 2rem;
    }
} 

@media only screen and (max-width: 660px) {
    .leftBox p {
        display: none;
    }

    .authorRecipeContainer div {
        display: none;
    }
} 

@media only screen and (max-width: 500px) {
    .leftBox h1 {
        font-size: 1rem;
        font-weight: 800;
    }

    /* .recipeBtnContainer {
        width: 26rem;
    }

    .authorRecipeContainer {
        width: 80%;
    }  */
} 