.heroboxContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8rem;
    justify-content: space-between;
}

.rightBox {
    width: 50%;
}

.leftBox {
    background-color: var(--primary-color);
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    padding: 2.4rem;
    width: 50%;
}

.leftBox h1 {
    margin: 2rem 0;
    font-size: 4rem;
    font-weight: var(--t2-font-weight);
}

.leftBox p {
    line-height: 1.75rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}


.rightBox img {
    /* width: 50%; */
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    height: 100%;
}

.recipeBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17.7rem;
    margin-bottom: var(--fourth-bot-margin);
}

.authorRecipeContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.badgeIconContainer {
    position: absolute;
    margin-left: 38rem;
    margin-top: 4rem;
}

.badgeIcon {
    width: 8.375rem;
    height: 8.375rem;
}


@media only screen and (max-width: 1500px) {
    .badgeIconContainer {
        margin-left: 37rem;
    }
}

@media only screen and (max-width: 1240px) {
    .badgeIconContainer {
        margin-left: 39rem;
    }

    .recipeBtnContainer {
        width: 26rem;
    }
}

@media only screen and (max-width: 900px) {
    .heroboxContainer {
        flex-wrap: wrap;
    }

    .badgeIcon {
        display: none;
    }

    .leftBox,
    .rightBox {
        width: 100%;
    }

    .leftBox {
        border-top-right-radius: 2.5rem;
        border-bottom-right-radius: 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
    }

    .rightBox {
        display: none;
    }

    .authorRecipeContainer {
        width: 70%;
    }
    
}
