.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
}

.iconPrimary,
.iconSecondary {
    width: 1.21rem;
    height: 1.21rem;
}

.iconPrimary {
    margin-left: 1rem;
}

.iconSecondary {
    margin-right: .6rem;
}

.btnPrimary {
    height: 3.75rem;
    border-radius: 1rem;
    background-color: #000;
    color: #fff;
    font-weight: var(--t2-font-weight);
}

.btnSecondary {
    height: 2.5rem;
    border-radius: 1.5rem;
    color: #000;
}

.btnFeature {
    height: 2.81rem;
    width: 9.75rem;
    background-color: #fff;
    font-weight: var(--t2-font-weight);
    border-radius: 1.5rem;
    box-shadow: 10px 20px 40px rgba(41, 64, 70, 0.1);
}

@media only screen and (max-width: 1240px) {
    .btn {
        min-width: 10rem;
        min-height: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .btn {
        width: 12.rem;
    }
}