.categoryWrapper {
    margin-bottom: 10rem;
}

.categoryTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.categoryTitleContainer h2 {
    font-size: 3rem;
    font-weight: var(--t3-font-weight);
}

.categoryHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categoryContainer {
    min-width: 11.25rem;
    min-height: 12.625rem;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(112, 130, 70, 0.1)); */
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.categoryContainer img {
    width: 6rem;
    height: 6rem;
}

.categoryContainer p {
    font-weight: var(--t2-font-weight);
}