.authorContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 11.18rem;  
}

.authorNameDate {
    line-height: 1.7rem;
}

.authorNameDate h2,
.authorNameDate p {
    font-size: 1rem;
    margin: 0;
}

.authorNameDate h2 {
    font-weight: 600;
}

.authorNameDate p {
    font-weight: var(--second-font-weight);
}
