.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    width: 93%;
    margin: 0 auto;
}

.navbarContainer ul {
    display: flex;
    justify-content: space-around;
    width: 25rem;
}

.navbarContainer ul li {
    list-style: none;
    font-size: 1rem;
    font-weight: var(--t4-font-weight);
    transition: opacity ease 0.3s;
}

.navbarContainer ul li:hover {
    cursor: pointer;
    opacity: 0.3;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    width: 8rem;
}

.socialMedia img:hover {
    cursor: pointer;
}

.mbNavMenu,
.hide {
    display: none;
}




@media only screen and (max-width: 600px) {
    .navbarContainer ul {
        display: none;
    }

    .socialMedia {
        display: none;
    }

    .mbNavMenu {
        display: block;
    }

    .mbNavMenu:hover {
        cursor: pointer;
    }
    
    .mbNavMenu img {
        width: 3rem;
        height: 2.5rem;
    }

    .mbMenuContainer {
        position: fixed;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        background: white;
    }

    .mbMenuItems {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        height: 30vh;
    }

    .mbMenuItems img {

    }

    .mbMenuItems ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mbMenuItems ul li {
        font-size: 1.5rem;
        list-style: none;
        text-align: center;
        margin-bottom: 1rem;
    }

    .mbCrossMenu {
        display: flex;
        justify-content: center;
    }

    .mbCrossMenu img {
        width: 5rem;
        height: 5rem;
    }

    .mbCrossMenu img:hover {
        cursor: pointer;
    }

    .mbSocialMedia {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        /* flex-direction: column; */
    }

    .mbSocialMedia img {
        padding: 2rem;
    }

    .mbSocialMedia img:hover {
        cursor: pointer;
    }
}