.navbarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    width: 93%;
    margin: 0 auto;
}

.navbarContainer ul {
    display: flex;
    justify-content: space-around;
    width: 25rem;
}

.navbarContainer ul li {
    list-style: none;
    font-size: 1rem;
    font-size: var(--t1-font-weight);
    transition: opacity ease 0.3s;
}

.navbarContainer ul li:hover {
    cursor: pointer;
    opacity: 0.3;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    width: 8rem;
}

.socialMedia img:hover {
    cursor: pointer;
}