.blogContainer {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    gap: 3.75rem 2.5rem; 
}

.header,
.pagination,
.subscribe {
    width: 100%;
    height: auto;
}

.header {
    grid-area: 1 / 1 / 2 / 6;
}
.article {
    grid-area: 2 / 1 / 3 / 4;
}

.recipes {
    grid-area: 2 / 4 / 3 / 6;
}

.pagination {
    grid-area: 3 / 1 / 4 / 6;
}

.subscribe {
    grid-area: 4 / 1 / 5 / 6;
}

@media only screen and (max-width: 900px) {
    .blogContainer {
        display: flex;
        flex-direction: column;
    }
}