.blogContainer {

}

.header,
.pagination,
.subscribe {
    width: 100%;
    height: auto;
}

.header {
    
}

.recipeContainer {
    display: flex;
}

.article {
    
}

.recipes {
    width: 45%;
    padding-left: 2rem;
}

.titleHeader {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.adImage {
    margin-top: 3.5rem;
}

.pagination {
    
}

.subscribe {
    
}

.btmRecipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.titleRecipe {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 3rem;
}


@media only screen and (max-width: 900px) {
    .article {
        margin-bottom: 4rem;
    }

    .recipeContainer {
        flex-wrap: wrap;
    }

    .recipes {
        width: 50%;
        padding-left: 0;
    }

    .btmRecipe {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .recipes {
        width: 60%;
    }

}