.blogContainer {

}

.header,
.pagination,
.subscribe {
    width: 100%;
    height: auto;
}

.header {
    
}

.recipeContainer {
    display: flex;
    /* width: 100%; */
}

.article {
    
}

.recipes {
    width: 40%;
    border: 1px solid black;
    /* grid-area: 2 / 4 / 3 / 6; */
}

.pagination {
    
}

.subscribe {
    
}

@media only screen and (max-width: 900px) {
    .recipeContainer {
        flex-wrap: wrap;
    }

    .recipes {
        width: 100%;
        height: 10vh;
    }
}