@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;800&display=swap');

:root {
  /* Theme colors */
  --primary-color: #E7FAFE;
  --second-color: #FF6363;
  
  --breakfast-color: #708246;
  --vegan-color: #6CC63F;
  --meat-color: #CC261B;
  --dessert-color: #F09E00;
  --lunch-color: #000;
  --chocolate-color: #000;

  --btn-color: #fff;
  --btn-bg-color: #000;

  /* Typography */
  --primay-font-size: 1rem;
  --primary-font-weight: 400;
  --second-font-size: 0.87rem;
  --second-font-weight: 200;

  --t1-font-size: 4rem;
  --t1-font-weight: 800;
  --t2-font-size: 3rem;
  --t2-font-weight: 600;
  --t3-font-size: 1.5rem;
  --t3-font-weight: 500;
  --t4-font-size: 1.125rem;

  /* Theme settings */
  --box-radius: 1.25rem;
  --primary-bot-margin: 11.43rem;
  --second-bot-margin: 10rem;
  --third-bot-margin: 8.93rem;
  --fourth-bot-margin: 6.5rem;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px;
  font-family: 'Inter', sans-serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  margin-bottom: 2rem;
}

.main-wrapper {
  max-width: 1420px;  
  margin: 0 auto;
}

.main-container {
  width: 93%;
  margin: 0 auto;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7rem;
}

.recipe-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 44.125rem;
  margin-bottom: 5rem;
}

.recipe-titles h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.recipe-titles p {
  font-size: 1rem;
}

.recipe-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13rem;
}

.section-1-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.section-1-left h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem
}

.section-1-left p {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 5rem;
}

.section-1-right img {
  width: 44.375rem;
  height: 37.31rem;
}

.section-2 {
  margin-bottom: 7rem;
}

.section-2-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.section-2-titles h1 {
  font-size: 3rem;
  font-weight: 600;
  width: 45%;
}

.section-2-titles p {
  font-size: 1rem;
  width: 40%;
  line-height: 1.75rem;
}

.recipe-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured-section {
  padding: 4rem 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(231, 249, 253, 1));
  margin-bottom: 10rem;
}

.featured-section-titles {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
}

.featured-section-titles h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.featured-section-titles p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}

.featured-section-insta-post {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.featured-section-insta-post img {
  margin-bottom: 2rem;
}

.featured-section-btn {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 1500px) {
  html {
    font-size: 14px;
  }  
  
  .main-wrapper {
      max-width: 1200px;
  }
}

@media only screen and (max-width: 1240px) {
  html {
    font-size: 11px;
  }  
  
  .main-wrapper {
      max-width: 1000px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  } 

  .main-wrapper {
    max-width: 900px;
  }
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
