@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;800&display=swap');

:root {
  /* Theme colors */
  --primary-color: #E7FAFE;
  --second-color: #FF6363;
  
  --breakfast-color: #708246;
  --vegan-color: #6CC63F;
  --meat-color: #CC261B;
  --dessert-color: #F09E00;
  --lunch-color: #000;
  --chocolate-color: #000;

  --btn-color: #fff;
  --btn-bg-color: #000;

  /* Typography */
  --primay-font-size: 1rem;
  --primary-font-weight: 400;
  --second-font-size: 0.87rem;
  --second-font-weight: 200;

  --t1-font-size: 4rem;
  --t1-font-weight: 800;
  --t2-font-size: 3rem;
  --t2-font-weight: 600;
  --t3-font-size: 1.5rem;
  --t3-font-weight: 500;
  --t4-font-size: 1.125rem;

  /* Theme settings */
  --box-radius: 1.25rem;
  --primary-bot-margin: 11.43rem;
  --second-bot-margin: 10rem;
  --third-bot-margin: 8.93rem;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px;
  font-family: 'Inter', sans-serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
